@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: 'optima';
  src: url('./assets/fonts/Optima-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

p {
  font-family: "Inter", sans-serif;
  line-height: 25px;
  font-weight: 400;
}
.section_title
{
  font-family: "Inter", sans-serif;
  color: #16A34A;
font-style: normal;
font-weight: 500;
line-height: 20px; 
border-bottom-width: 1px;
padding-bottom:1rem;
border-color: #0000001A;
}
.primary_btn
{
  border-radius: 5px;
  background: #16A34A;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  
  text-align: center;
  
  justify-content: center;
  display: flex;
  align-items: center;
  gap: .5rem;
}
.close_btn
{
  width: 116px;
  height: 40px;
}
.save_btn
{
  width: 80px;
  height: 40px;

}
.cancel_btn
{
  width: 80px;
  height: 40px;
  background: #ffffff;
  color:#000000;
  border:1px solid #E2E8F0;
}
.sidebar
{
  border-right: 1px solid rgba(22, 163, 74, 0.20);
  padding-left: 1.5rem;
  background: #fcfcfc;
  justify-content: space-between;
}